.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75% 25%;
  text-align: center;
  background: radial-gradient(ellipse at bottom, #116466 0%, #2c3531 70%);
  height: 100vh;
  width: 100vw;
}

.title {
  position: fixed;
  left: 50%;
  width: 300px;
  height: 60px;
  margin-left: -150px;
  z-index: 20;
  background: radial-gradient(ellipse at bottom, #116466 0%, #2c3531 70%);
  border: 5px solid #d9b08c;
  border-top: 0px;
}

.leaflet-container {
  z-index: 19;
  border-bottom: 5px solid #d9b08c;
}

h1 {
  color: #d1e8e2;
  margin: 0;
}

p {
  color: #d1e8e2;
  margin: 0;
}

table {
  border: 5px solid #d1e8e2;
  background-color: black;
}

th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #d1e8e2;
}

/* .tableContainer {
  overflow-y: scroll;
  max-height: 300px;
  max-width: 400px;
  margin: auto;
} */

#popup-info {
  color: #2c3531;
}
